<% @sos_hands.each do |sos_hand| %>
  <div class="card-database">
    <div class="card-db-header">
      <%= link_to edit_sos_hand_path(sos_hand), class: "card-db-edit", target: '_blank' do %>
        <i class='fas fa-pencil-alt'></i>
      <% end %>
      <%= link_to "x", sos_hand_path(sos_hand), class: "card-db-delete", method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet élément ?"} %>
    </div>
    <div class="db-element">
      <%= sos_hand.name %>
    </div>
    <div class="db-element">
      <%= sos_hand.address %>
    </div>
    <div class="db-element">
      <%= sos_hand.phone %>
    </div>
  </div>
<% end %>