<div class="row">
  <div class="col-10 offset-1">
    <div class="mb-3">
      <%= link_to "Revenir au profil", profile_path(@user), class: 'link' %>
    </div>
    <%= simple_form_for @user, url: profile_path(@user), html: { method: :put } do |f| %>
      <%= f.input :first_name, label: "Prénom" %>
      <%= f.input :last_name, label: "Nom de famille" %>
      <%= f.input :email, label: "Email" %>
      <% if @user.admin %>
        <div class="d-flex flex-column align-items-center">
          <h2>Logo de l'entreprise</h2>
          <div class="container-home render-logo">
            <%= render 'render_logo' %>
          </div>
          <%= f.simple_fields_for :company, @company do |h| %>
            <%= h.input :logo, label: false, input_html: {onchange: "loadLogo(event)"} %>
          <% end %>
          <div class='btn-delete' id="removeUpload" style='display: none;'>Annuler</div>
        </div>
        <h2 class="text-center">Texte de sécurité de l'entreprise</h2>
        <%= f.simple_fields_for :company, @company do |h| %>
          <%= h.text_area :content_secu, class: 'tinymce' %>
          <%= tinymce %>
        <% end %>
      <% end %>
      <div class="d-flex justify-content-center my-4">
        <%= f.submit "Valider mes modifications", class: 'btn-blue' %>
      </div>
    <% end %>
  </div>
</div>
<script>
  const loadLogo = (event) => {
    const image = document.getElementById('newLogo');
    const arrow = document.querySelector('.fa-long-arrow-alt-right');
    const btnCancelUpload = document.getElementById('removeUpload');
    const btnDeleteLogo = document.getElementById('removeLogo');
    // Si il exite un fichier à uploader
    if(event.target.files[0]) {
      arrow.style.display = 'block';
      btnCancelUpload.style.display = 'block'
      // Si l'entreprise n'a pas encore de logo le bouton n'exitse pas
      if(btnDeleteLogo) {
        btnDeleteLogo.style.display = 'none'
      }
      btnCancelUpload.addEventListener('click', (e) => {
        // Si il exite un fichier à uploader
        event.target.value = null
        btnCancelUpload.style.display = 'none'
        loadLogo(event)
      })
      image.style.display = 'block';
      return image.src = URL.createObjectURL(event.target.files[0]);
    } {
      arrow.style.display = 'none';
      image.style.display = 'none';
      // Si l'entreprise n'a pas encore de logo le bouton n'exitse pas
      if(btnDeleteLogo) {
        btnDeleteLogo.style.display = 'block'
      }
    }
  };
</script>