<div class='col-md-6 offset-md-3'>
  <div class="mb-3">
    <%= link_to "Revenir au profil", profile_path(@user), class: 'link' %>
  </div>
  <h2>Mes informations</h2>
  <%= simple_form_for @user, url: profile_path(@user), html: { method: :put } do |f| %>
    <%= f.input :first_name, label: "Prénom" %>
    <%= f.input :last_name, label: "Nom de famille" %>
    <%= f.input :email, label: "Email" %>
    <%= f.submit "Valider mes modifications", class: 'btn-blue' %>
  <% end %>
</div>