<% @regional_committees_page.each do |regional_committee| %>
  <div class="card-database">
    <div id="spacer"></div>
    <div class="db-element col-24">
      <%= regional_committee.name %>
    </div>
    <div class="db-element col-24">
      <%= regional_committee.address %>
    </div>
    <div class="db-element col-24">
      <%= regional_committee.phone %>
    </div>
    <div class="db-element col-22">
    <%= regional_committee.fax %>
    </div>
    <div class="card-db-action">
      <%= link_to edit_regional_committee_path(regional_committee), class: "card-db-edit" do %>
        <i class='fas fa-pencil-alt'></i>
      <% end %>
      <%= link_to "x", destroy_regional_committee_path(regional_committee), class: "card-db-delete", method: :post, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet élément ?"} %>
    </div>
  </div>
<% end %>