<% @work_medecines_page.each do |work_medecine| %>
  <div class="card-database">
    <div id="spacer"></div>
    <div class="db-element col-40">
      <%= work_medecine.address %>
    </div>
    <div class="db-element col-20">
      <%= work_medecine.phone %>
    </div>
    <div class="db-element col-30">
      <%= work_medecine.fax %>
    </div>
    <div class="card-db-header">
      <%= link_to edit_work_medecine_path(work_medecine), class: "card-db-edit" do %>
        <i class='fas fa-pencil-alt'></i>
      <% end %>
      <%= link_to "x", destroy_work_medecine_path(work_medecine), class: "card-db-delete", method: :post, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet élément ?"} %>
    </div>
  </div>
<% end %>