<div class="container">
  <div class="link-db">
    <%= link_to "Revenir aux bases de données", database_path %>
  </div>
  <% if policy(WorkMedecine).new? %>
    <div>
      <button type="button" class="btn-blue" data-toggle="modal" data-target="#ModalWorkMedecine">
        Ajouter un médecin du travail
      </button>
    </div>
  <% end %>
  <%# Modal Work Medecine %>
  <% if policy(WorkMedecine).new? %>
    <div class="modal fade" id="ModalWorkMedecine" tabindex="-1" role="dialog" aria-labelledby="ModalWorkMedecine" aria-hidden="true">
      <%= render 'ppsps/modal_work_medecine' %>
    </div>
  <% end %>
  <div class="container-database">
    <%= form_with url: work_medecines_path, class: "d-flex mt-2 justify-content-center", method: :get do |f| %>
      <%= f.text_field :query, params: :query, class: "form-control search-db", placeholder: "Rechercher un mot-clé..." %>
      <%= f.submit 'Go', class: "btn-orange-right" %>
    <% end %>
    <form class="d-flex justify-content-center mt-1" method="get" action=<%= work_medecines_path %> data-remote="true">
      <input class="btn-orange-ext" type="submit" value="Database complète">
    </form>
    <% if @work_medecines.length > 0 %>
      <div class="flex-database d-flex flex-wrap mt-2 justify-content-center">
        <%= render 'element', collection: @work_medecines_page %>
      </div>
    <% else %>
      <div class="container-db-vide">
        Votre recherche n'a retourné aucun résultat
      </div>
    <% end %>
    <div class="container-pagination" data-pagination-endpoint=<%= @endpoint %> data-pagination-pages=<%= @page_amount %>>
      <%= image_tag('gif-loading.gif') %>
    </div>
  </div>
</div>