<div class="container mb-3">
  <%= link_to "Revenir à mes PPSP", ppsps_path, class: 'link' %>
  <%= simple_form_for @ppsp, remote: true, html: {multipart: true} do |f| %>
    <div class="row">
      <h2 class="col-12 form-title">
        I. Renseignements administratifs
      </h2>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        1-1. L'entreprise titulaire du lot
      </h3>
      <div class="col-md-6 offset-md-3 wrapper">
        <div class='text-bold'>Nom :</div>
        <div><%= current_user.company.name %></div>
        <div class='text-bold'>Adresse :</div>
        <div><%= current_user.company.address %></div>
        <div class='text-bold'>Téléphone :</div>
        <div><%= current_user.company.phone %></div>
        <div class='text-bold'>Représentant :</div>
        <div><%= current_user.company.representative %></div>
      </div>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        1-2. La désignation du chantier
      </h3>
      <%= f.simple_fields_for :project_information, @project_information do |h| %>
        <div class="col-md-6 offset-md-3">
          <%= h.input :name, label: "Désignation du chantier", placeholder: "Réalisation de la voirie E140 entre Bidule et Machin" %>
        </div>
        <div class="col-md-6 offset-md-3">
          <%= h.input :reference, label: "Référence du projet", placeholder: "B 484..." %>
        </div>
        <div class="col-md-6 offset-md-3">
          <%= h.input :responsible_id, label: "Responsable", collection: Worker.where(role: 'Conducteur de travaux').order(:last_name), label_method: lambda {|x| "#{x.last_name} #{x.first_name}"}, input_html: {class: "select-2"} %>
        </div>
        <div class="col-md-6 offset-md-3">
          <%= h.input :site_manager_id, label: "Chef de chantier", collection: Worker.where(role: 'Chef de chantier').order(:last_name), label_method: lambda {|x| "#{x.last_name} #{x.first_name}"}, input_html: {class: "select-2"} %>
        </div>
        <div class="col-md-6 offset-md-3">
          <%= h.input :team_manager_id, label: "Chef d'équipe", collection: Worker.where(role: "Chef d'équipe").order(:last_name), label_method: lambda {|x| "#{x.last_name} #{x.first_name}"}, input_html: {class: "select-2"} %>
        </div>
      <% end %>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        1-3. Les entreprises sous-traitantes
      </h3>
      <div class="col-md-10 offset-md-1">
        <% csrf_token = form_authenticity_token %>
        <%= react_component("form-subcontractors/components/App", {token: csrf_token}, {id: 'react-render-subcontractors', 'data-ppsps_id': @ppsp.id, 'data-admin': current_user.admin}) %>
      </div>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        1-4. Désignation du maitre d'oeuvre
      </h3>
      <div class="col-md-6 offset-md-3">
        <div class="form-group select required ppsp_moe_id">
          <div class="container-header-form">
            <label class="select" for="ppsp_moe_id">MOE</label>
            <% if policy(Moe).new? %>
              <%= render 'ppsps/form/btn_add_database', data: 'Moe' %>
            <% end %>
          </div>
          <%= f.input :moe_id, as: :select, label: false, collection: @moes, label_method: lambda {|x| "#{x.name} - #{x.representative}"}, input_html: {class: "select-2"} %>
        </div>
      </div>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        1-5. Désignation du maitre d'ouvrage
      </h3>
      <div class="col-md-6 offset-md-3">
        <div class="form-group select required ppsp_moa_id">
          <div class="container-header-form">
            <label class="select required" for="ppsp_moa_id">MOA <abbr title="required">*</abbr></label>
            <% if policy(Moa).new? %>
              <%= render 'ppsps/form/btn_add_database', data: 'Moa' %>
            <% end %>
          </div>
          <%= f.input :moa_id, as: :select, label: false, collection: @moas, label_method: lambda {|x| "#{x.name} - #{x.representative}"}, input_html: {class: "select-2"} %>
        </div>
      </div>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        1-6. Ajout du logo du client (si disponible)
      </h3>
      <div class="col-md-6 offset-md-3 form-subtitle render-logo">
        <% if @ppsp.logo_client.attached? %>
          <div class="logo-client">
            <%= cl_image_tag @ppsp.logo_client.key, class: 'icon-logo mb-3' %>
            <div>
              <%= link_to "Supprimer", destroy_logo_client_path(@ppsp.logo_client.key), class: 'btn-delete', id: 'btn-destroy-logo', method: :delete, remote: true %>
            </div>
          </div>
        <% end %>
        <div class="dropzone dropzone-default dz-clickable logo-client-input <%= "hidden" if @ppsp.logo_client.attached? %>" data-controller="dropzone" data-dropzone-max-files-size="0.5" data-dropzone-max-files="1" data-dropzone-accepted-files="image/png, image/jpg, image/jpeg">
          <%= f.input :logo_client, label: false, input_html: { direct_upload: true, data: { 'dropzone-target'.to_sym => "input" } } %>
          <div class="dropzone-msg dz-message needsclick">
            <h3 class='dropzone-msg-title'>Glisser le fichier ou cliquer sur la zone</h3>
            <span class="dropzone-msg-desc text-sm">
              <p>500 kB max /fichier (Max 1 image). </p>
              <p>Fichiers autorisés : png, jpg, jpeg</p>
            </span>
          </div>
        </div>
      </div>
      
      <h3 class="col-md-6 offset-md-3 form-subtitle">
        1-7. Désignation du coordonateur SPS<i style='font-size: 0.7em; margin-left: 8px;'>(laissez vide si il n'y en a pas)</i>
      </h3>
      <div class="col-md-6 offset-md-3">
        <div class="form-group select required ppsp_security_coordinator_id">
          <div class="container-header-form">
            <label class="select required" for="ppsp_security_coordinator_id">Coordonateur sécurité <abbr title="required">*</abbr></label>
            <% if policy(SecurityCoordinator).new? %>
              <%= render 'ppsps/form/btn_add_database', data: 'SecurityCoordinator' %>
            <% end %>
          </div>
          <div class="form-group select required ppsp_security_coordinator_id">
            <%= f.input :security_coordinator_id, as: :select, collection: @security_coordinators, label: false, label_method: lambda { |x| "#{x.name} - #{x.representative}" }, input_html: {class: "select-2"} %>
          </div>
        </div>
      </div>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        1-8. Les organismes de prévention
      </h3>
      <div class="col-md-6 offset-md-3">
        <div class="form-group select required ppsp_regional_committee_id">
          <div class="container-header-form">
            <label class="select required" for="ppsp_regional_committee_id">Comité régional de l'OPPBTP <abbr title="required">*</abbr></label>
            <% if policy(RegionalCommittee).create? %>
               <%= render 'ppsps/form/btn_add_database', data: 'RegionalCommittee' %>
            <% end %>
          </div>
          <%= f.input :regional_committee_id, as: :select, label: false, collection: @regional_committees, label_method: lambda {|x| "#{x.name}"}, input_html: {class: "select-2"} %>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="form-group select required ppsp_pension_insurance_id">
          <div class="container-header-form">
            <label class="select required" for="ppsp_pension_insurance_id">Caisse d'assurance retraite <abbr title="required">*</abbr></label>
            <% if policy(PensionInsurance).create? %>
              <%= render 'ppsps/form/btn_add_database', data: 'PensionInsurance' %>
            <% end %>
          </div>
          <%= f.input :pension_insurance_id, as: :select, label: false, collection: @pension_insurances, label_method: lambda {|x| "#{x.address} - #{x.phone}"}, input_html: {class: "select-2"} %>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="form-group select required ppsp_direcct_id">
          <div class="container-header-form">
            <label class="select required" for="ppsp_direcct_id">DIRECCT <abbr title="required">*</abbr></label>
            <% if policy(Direcct).create? %>
              <%= render 'ppsps/form/btn_add_database', data: 'Direcct' %>
            <% end %>
          </div>
          <%= f.input :direcct_id, as: :select, label: false, collection: @direccts, label_method: lambda {|x| "#{x.address} - #{x.phone}"}, input_html: {class: "select-2"} %>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="form-group select required ppsp_work_medecine_id">
          <div class="container-header-form">
            <label class="select required" for="ppsp_work_medecine_id">Médecine du travail <abbr title="required">*</abbr></label>
            <% if policy(WorkMedecine).create? %>
              <%= render 'ppsps/form/btn_add_database', data: 'WorkMedecine' %>
            <% end %>
          </div>
          <%= f.input :work_medecine_id, as: :select, label: false, collection: @work_medecines, label_method: lambda {|x| "#{x.address} - #{x.phone}"}, input_html: {class: "select-2"} %>
        </div>
      </div>


      <h2 class="col-12 form-title">
        II. Le chantier
      </h2>

      <%= f.simple_fields_for :worksite, @worksite do |w| %>
        <h3 class="col-md-6 offset-md-3 form-subtitle">
          2-1. Description des travaux
        </h3>
        <div class="col-md-6 offset-md-3">
          <%= w.input :nature, placeholder: "Description des travaux..." %>
        </div>

        <h3 class="col-md-6 offset-md-3 form-subtitle">
          2-2. Adresse du chantier
        </h3>
        <div class="col-md-6 offset-md-3">
          <%= w.input :address, placeholder: "Indiquez une adresse..." %>
        </div>

        <h3 class="col-md-6 offset-md-3 form-subtitle">
          2-3. Dates du chantier
        </h3>
        <div class="col-md-6 offset-md-3">
          <div class="container-calendar">
            <div class="calendar-box">
              <div class="title">
                Début
              </div>
              <div class="date">
              <%= w.input :start_date, label: false, as: :string, input_html: {id: 'range_start'}, require: true %>
                <div class="date-day-month">
                  <div id="start-day-calendar" class="day">
                    <%= Date.today.to_formatted_s(:short).split(" ").first %>
                  </div>
                  <div id="start-month-calendar" class="month">
                    <%= Date.today.to_formatted_s(:short).split(" ").last %>
                  </div>
                </div>
                <div id="start-year-calendar" class="year">
                  <%= Date.today.to_formatted_s(:long).split(" ").last%>
                </div>
              </div>
            </div>
            <div class="calendar-box">
              <div class="title">
                Fin
              </div>
              <div class="date">
              <%= w.input :end_date, label: false, as: :string, input_html: {id: 'range_end'}, require: true %>
                <div class="date-day-month">
                  <div id="end-day-calendar" class="day">
                    <%= Date.today.to_formatted_s(:short).split(" ").first %>
                  </div>
                  <div id="end-month-calendar" class="month">
                    <%= Date.today.to_formatted_s(:short).split(" ").last %>
                  </div>
                </div>
                <div id="end-year-calendar" class="year">
                  <%= Date.today.to_formatted_s(:long).split(" ").last%>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="col-md-6 offset-md-3 form-subtitle">
          2-4. Horaires de travail
        </h3>
        <div class="col-md-6 offset-md-3" id='timetable-summer'>
          Mon document doit faire figurer des <span class='time-emphasis'>horaires d'été</span>
          <%= w.input :timetable_summer, label: '&nbsp;'.html_safe, input_html: { class: 'checkbox-visual hidden' } %>
        </div>
        <div class="col-md-6 offset-md-3">
          <div id="timetable-summer-input" class=<%= @ppsp.worksite.timetable_summer ? '' : 'hidden-visibility' %>>
            <div class='timetable-title' >
              Semaine classique
            </div>
            <div class="d-flex justify-content-around">
              <div class="calendar-box">
                <div class="title">
                  Début
                </div>
                <div class="time">
                  <%= w.input :timetable_summer_start, label: false, input_html: {id: 'time_summer_start'} %>
                </div>
              </div>
              <div class="calendar-box">
                <div class="title">
                  Fin
                </div>
                <div class="time">
                  <%= w.input :timetable_summer_end, label: false, input_html: {id: 'time_summer_end'} %>
                </div>
              </div>
            </div>

            <div class='timetable-title' >
              Vendredi
            </div>
             <div class="d-flex justify-content-around">
              <div class="calendar-box">
                <div class="title">
                  Début
                </div>
                <div class="time">
                  <%= w.input :timetable_summer_start_friday, label: false, input_html: {id: 'time_summer_start_friday'} %>
                </div>
              </div>
              <div class="calendar-box">
                <div class="title">
                  Fin
                </div>
                <div class="time">
                  <%= w.input :timetable_summer_end_friday, label: false, input_html: {id: 'time_summer_end_friday'} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-md-3" id='timetable-winter'>
          Mon document doit faire figurer des <span class='time-emphasis'>horaires d'hiver</span>
          <%= w.input :timetable_winter, label: '&nbsp;'.html_safe, input_html: { class: 'checkbox-visual hidden' } %>
        </div>
        <div class="col-md-6 offset-md-3">
          <div id="timetable-winter-input" class=<%= @ppsp.worksite.timetable_winter ? '' : 'hidden-visibility' %>>
            <div class='timetable-title' >
              Semaine classique
            </div>
             <div class="d-flex justify-content-around">
              <div class="calendar-box">
                <div class="title">
                  Début
                </div>
                <div class="time">
                  <%= w.input :timetable_winter_start, label: false, input_html: {id: 'time_winter_start'} %>
                </div>
              </div>
              <div class="calendar-box">
                <div class="title">
                  Fin
                </div>
                <div class="time">
                  <%= w.input :timetable_winter_end, label: false, input_html: {id: 'time_winter_end'} %>
                </div>
              </div>
            </div>
            <div class='timetable-title' >
              Vendredi
            </div>
             <div class="d-flex justify-content-around">
              <div class="calendar-box">
                <div class="title">
                  Début
                </div>
                <div class="time">
                  <%= w.input :timetable_winter_start_friday, label: false, input_html: {id: 'time_winter_start_friday'} %>
                </div>
              </div>
              <div class="calendar-box">
                <div class="title">
                  Fin
                </div>
                <div class="time">
                  <%= w.input :timetable_winter_end_friday, label: false, input_html: {id: 'time_winter_end_friday'} %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="col-md-6 offset-md-3 form-subtitle">
          2-5. Effectifs
        </h3>
        <div class="col-md-6 offset-md-3">
          <%= w.input :num_responsible, label: "Nombre de responsables" %>
        </div>
        <div class="col-md-6 offset-md-3">
          <%= w.input :num_worker, label: "Nombre de compagnons" %>
        </div>
        <div class="col-md-6 offset-md-3">
          <%= w.input :num_conductor, label: "Nombre de conducteurs d'engin" %>
        </div>

        <h3 class="col-md-6 offset-md-3 form-subtitle">
          2-6. Locaux affectés au personnel
        </h3>
        <div class="col-md-10 offset-md-1">
           <div id="react-render-site-installations" data-ppsps_id=<%=@ppsp.id%>></div>
        </div>

        <h3 class="col-md-6 offset-md-3 form-subtitle">
          2-7. Plan d'installation
        </h3>
         <div class="col-md-6 offset-md-3">
          <p>Votre chantier dispose-t-il d'un plan d'installation ?</p>
          <%= w.input :plan, label: '&nbsp;'.html_safe, input_html: { class: 'checkbox-visual hidden' } %>
          <div id="alert-text-plan" class= <%= @ppsp.worksite.plan ? '' : 'hidden-visibility'%>>
            <% if @ppsp.worksite.plan_installation.attached? && @ppsp.worksite.plan_installation.persisted? %>
              <div class="render-plan">
                <%= render 'worksites/plan_installation' %>
              </div>
            <% end %>
            <div id="input-plan-installation" class=<%= @ppsp.worksite.plan_installation.attached? && @ppsp.worksite.plan_installation.persisted? ? 'hidden' : '' %>>
              <p class="text-alert">Veuillez ajouter votre plan d'installation en annexe</p>
              <p class="text-alert-black">Maximum : 300kB !</p>
              <%= w.input :plan_installation, label: false %>
            </div>
          </div>
        </div>


        <h3 class="col-md-6 offset-md-3 form-subtitle">
          2-8. Installations électriques
        </h3>
        <div class="col-md-6 offset-md-3">
          <p>Votre chantier implique-t-il des installations électriques ?</p>
          <%= w.input :electrical_site, label: '&nbsp;'.html_safe, input_html: { class: 'checkbox-visual hidden' } %>
        </div>

        <h3 class="col-md-6 offset-md-3 form-subtitle">
          2-9. Installations d'eau
        </h3>
        <div class="col-md-6 offset-md-3">
          <p>Votre chantier implique-t-il un raccordement aux installations d'eau ?</p>
          <%= w.input :water_site, label: '&nbsp;'.html_safe, input_html: { class: 'checkbox-visual hidden' } %>
        </div>

        <h3 class="col-md-6 offset-md-3 form-subtitle">
          2-10. Moyens d'accès au poste de travail
        </h3>
        <div class="col-md-10 offset-md-1">
          <div id="react-render-altitude-works" data-ppsps_id=<%=@ppsp.id%>></div>
        </div>

        <h3 class="col-md-6 offset-md-3 form-subtitle">
          2-11. Engins de chantier utilisés
        </h3>
        <div class="col-md-10 offset-md-1">
          <div class='col-12' id="conductors-form-react" data-ppsps_id=<%=@ppsp.id%>></div>
        </div>


      <h2 class="col-12 form-title">
        III. Dispositions en matière de secours et d'évacuation
      </h2>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        3-1. Infirmerie de chantier
      </h3>
      <div class="col-md-6 offset-md-3">
        <p>Le chantier implique-t-il une infirmerie sur place ?</p>
          <%= w.input :infirmary, label: '&nbsp;'.html_safe, input_html: { class: 'checkbox-visual hidden', id:'infirmary' }  %>
          <div class=<%= @worksite.infirmary ? 'visible' : 'hidden' %> id="infirmary-text">
            <%= w.input :infirmary_text, label: 'Indiquer les informations sur cette infirmerie (localisation etc...)' %>
          </div>
        <% end %>
      </div>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        3-2. Liste des SSP
      </h3>
      <div class="col-md-10 offset-md-1">
        <div id="react-render-lifesavers" data-ppsps_id=<%=@ppsp.id%>></div>
      </div>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        3-3. Contacts des secours
      </h3>
      <div class="col-md-6 offset-md-3">
        <div class="form-group select required ppsp_demining_id">
          <div class="container-header-form">
            <label class="select required" for="ppsp_demining_id">Centre de déminage <abbr title="required">*</abbr></label>
            <% if policy(Demining).create? %>
              <%= render 'ppsps/form/btn_add_database', data: 'Demining' %>
            <% end %>
          </div>
          <%= f.input :demining_id, as: :select, label: false, collection: @deminings, label_method: lambda {|x| "#{x.name}"}, input_html: {class: "select-2"} %>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="form-group select required ppsp_sos_hand_id">
          <div class="container-header-form">
            <label class="select required" for="ppsp_sos_hand_id">Centre SOS Mains et Doigts<abbr title="required">*</abbr></label>
            <% if policy(SosHand).create? %>
              <%= render 'ppsps/form/btn_add_database', data: 'SosHand' %>
            <% end %>
          </div>
            <%= f.input :sos_hand_id, as: :select, label: false, collection: @sos_hands, label_method: lambda {|x| "#{x.name}"}, input_html: {class: "select-2"} %>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="form-group select required ppsp_anti_poison_id">
          <div class="container-header-form">
            <label class="select required" for="ppsp_anti_poison_id">Centre anti-poison <abbr title="required">*</abbr></label>
            <% if policy(AntiPoison).create? %>
              <%= render 'ppsps/form/btn_add_database', data: 'AntiPoison' %>
            <% end %>
          </div>
          <%= f.input :anti_poison_id, as: :select, label: false, collection: @anti_poisons, label_method: lambda {|x| "#{x.name}"}, input_html: {class: "select-2"} %>
        </div>
      </div>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        3-4. Hôpital le plus proche
      </h3>
      <div class="col-md-6 offset-md-3">
        <div class="form-group select required ppsp_hospital_id">
          <div class="container-header-form">
            <label class="select required" for="ppsp_hospital_id">Hôpital le plus proche <abbr title="required">*</abbr></label>
            <% if policy(Hospital).create? %>
              <%= render 'ppsps/form/btn_add_database', data: 'Hospital' %>
            <% end %>
          </div>
          <%= f.input :hospital_id, as: :select, collection: @hospitals, label: false, label_method: lambda { |x| "#{x.name}"}, input_html: {class: "select-2"} %>
        </div>
      </div>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        3-5. Trousse de secours
      </h3>
      <div class="col-md-6 offset-md-3">
        <p class='text-alert'>Les informations affichées dans cette partie sont issues de la trousse de secours établies par l'entreprise, si cette liste a été mise à jour vous pouvez la modifier (si vous êtes administrateur) dans "Mon profil" - "Modifier les informations"</p>
        <div class="card-kit-security">
          <div class="top"></div>
          <div class="card-kit-content">
            <div class="list">
              <% current_user.company.kit_security_elements.each do |kit| %>
                <li><%= "#{kit.number} #{kit.name}" %></li>
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <h2 class="col-12 form-title">
        IV. L'évaluation des risques
      </h2>

      <h3 class="col-md-6 offset-md-3 form-subtitle">
        4-1. Les risques associés à mon chantier
      </h3>
      <div class="col-md-10 offset-md-1">
        <div id="react-render-risks" data-ppsps_id=<%=@ppsp.id%>></div>
      </div>

      <div class="col-md-6 offset-md-3 form-subtitle">
        4-2. Ajouter des spécificités sur le chantier
      </div>

      <div class="col-md-10 offset-md-1 text-center">
        <%= render 'ppsps/form/modal_secu_ppsp', f: f %>
        </div>
      </div>
      <div class="col-md-6 offset-md-3 mt-3">
        <p>Annexes, si besoin</p>
        <div data-controller="dropzone" data-dropzone-max-files-size="0.5" data-dropzone-max-files=<%= "#{@num_dropzone_annexes}" %> class="dropzone dropzone-default dz-clickable">
          <%= f.input :annexes, label: false, input_html: { direct_upload: true, multiple: true, data: { 'dropzone-target'.to_sym => "input" } } %>
          <div class="dropzone-msg dz-message needsclick">
            <h3 class='dropzone-msg-title'>Glisser les fichiers ou cliquer sur la zone</h3>
            <span class="dropzone-msg-desc text-sm">
              <p>500 kB max /fichier (Max <%= pluralize(@num_dropzone_annexes, "fichier", plural: "fichiers") %>). </p>
              <p>Fichiers autorisés : png, jpg, jpeg, pdf</p>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 offset-md-3 mt-3">
        <% if @ppsp.annexes.attached? %>
          <div class="d-flex flex-wrap justify-content-center w-100" id='container-annexes'>
            <%= render 'ppsps/form/render_annexes' %>
          </div>
        <% end %>
      </div>


      <div class="d-flex justify-content-center mt-5" style='width: 100%'>
        <%= f.button :button, "J'ai terminé", class: 'btn-blue', data: { disable_with: '<i class="fas fa-spin fa-spinner"></i> En cours...'.html_safe }, id: 'SubmitPpspsFormBtn' %>
      </div>
    </div>
    <div id="myModal" class="modal-background">
      <div class="text-center modal-loading">
        <div class="spinner-border" role="status"></div>
         <div class="mt-2">Votre PPSPS est en cours de préparation...</div>
      </div>
    </div>
  <% end %>

  <% if policy(SecurityCoordinator).create? %>
    <div class="modal fade" id="ModalSecurityCoordinator" tabindex="-1" role="dialog" aria-labelledby="ModalSecurityCoordinator" aria-hidden="true">
      <%= render 'modals/security_coordinators/modal_security_coordinator' %>
    </div>
  <% end %>
  <% if policy(Hospital).create? %>
    <div class="modal fade" id="ModalHospital" tabindex="-1" role="dialog" aria-labelledby="ModalHospital" aria-hidden="true">
      <%= render 'modals/hospitals/modal_hospital' %>
    </div>
  <% end %>
  <% if policy(Moa).create? %>
    <div class="modal fade" id="ModalMoa" tabindex="-1" role="dialog" aria-labelledby="ModalMoa" aria-hidden="true">
      <%= render 'modals/moas/modal_moa' %>
    </div>
  <% end %>
  <% if policy(Moe).create? %>
    <div class="modal fade" id="ModalMoe" tabindex="-1" role="dialog" aria-labelledby="ModalMoe" aria-hidden="true">
      <%= render 'modals/moes/modal_moe' %>
    </div>
  <% end %>
  <% if policy(Direcct).create? %>
    <div class="modal fade" id="ModalDirecct" tabindex="-1" role="dialog" aria-labelledby="ModalDirecct" aria-hidden="true">
      <%= render 'modals/direccts/modal_direcct' %>
    </div>
  <% end %>
  <% if policy(PensionInsurance).create? %>
    <div class="modal fade" id="ModalPensionInsurance" tabindex="-1" role="dialog" aria-labelledby="ModalPensionInsurance" aria-hidden="true">
      <%= render 'modals/pension_insurances/modal_pension_insurance' %>
    </div>
  <% end %>
  <% if policy(RegionalCommittee).create? %>
    <div class="modal fade" id="ModalRegionalCommittee" tabindex="-1" role="dialog" aria-labelledby="ModalRegionalCommittee" aria-hidden="true">
      <%= render 'modals/regional_committees/modal_regional_committee' %>
    </div>
  <% end %>
  <% if policy(AntiPoison).create? %>
    <div class="modal fade" id="ModalAntiPoison" tabindex="-1" role="dialog" aria-labelledby="ModalAntiPoison" aria-hidden="true">
      <%= render 'modals/anti_poisons/modal_anti_poison' %>
    </div>
  <% end %>
  <% if policy(WorkMedecine).create? %>
    <div class="modal fade" id="ModalWorkMedecine" tabindex="-1" role="dialog" aria-labelledby="ModalWorkMedecine" aria-hidden="true">
      <%= render 'modals/work_medecines/modal_work_medecine' %>
    </div>
  <% end %>
  <% if policy(SosHand).create? %>
    <div class="modal fade" id="ModalSosHand" tabindex="-1" role="dialog" aria-labelledby="ModalSosHand" aria-hidden="true">
      <%= render 'modals/sos_hands/modal_sos_hand' %>
    </div>
  <% end %>
  <% if policy(Demining).create? %>
    <div class="modal fade" id="ModalDemining" tabindex="-1" role="dialog" aria-labelledby="ModalDemining" aria-hidden="true">
      <%= render 'modals/deminings/modal_demining' %>
    </div>
  <% end %>
</div>
