<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="ModalSubcontractor">Ajouter un sous-traitant</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="cards-form">
        <%= simple_form_for [@ppsp, @subcontractor] do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :work %>
          <%= f.input :responsible_name %>
          <%= f.input :responsible_phone %>
          <%= f.input :responsible_email %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>