<div class="container d-flex flex-column align-items-center mb-2">
  <div class="container-installations">
    <h1>Installations chantier</h1>
    <div class="row justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <input type="checkbox" class="hidden" id="checkSiteInstallation" name="siteInstallation">
        <label for="checkSiteInstallation" id="CheckSiteInstallation" class="btn-orange-ext">Ajouter</label>
      </div>
      <div class="hidden-form hidden col-12 row" id="siteInstallationType">
        <div class="col-6 d-flex justify-content-center">
          <input type="checkbox" style="display: none" id="checkSiteInstallationMobile" name="siteInstallationMobile">
          <label for="checkSiteInstallationMobile" class="btn-orange-ext" id="SiteInstallationMobile">Mobile</label>
        </div>
        <div class="col-6 d-flex justify-content-center">
          <input type="checkbox" style="display: none" id="checkSiteInstallationFix" name="siteInstallationFix">
          <label for="checkSiteInstallationFix" class="btn-orange-ext" id="SiteInstallationFix">Fixe</label>
        </div>

        <div class="col-6">
          <div class="hidden-form hidden" id="siteInstallationMobile">
            <form class="simple_form new_selected_installation" id="new_selected_installation" novalidate="novalidate" action=<%= ppsp_selected_installations_path(@ppsp.id)%> accept-charset="UTF-8" data-remote="true" method="post">
              <fieldset class="form-group check_boxes required selected_installation_site_installation">
                <div class="form-check d-flex flex-wrap justify-content-start">
                  <input type="hidden" name="selected_installation[site_installation_id][]" value="">
                  <% SiteInstallation.where(mobile: true).each do |site| %>
                    <div class="form-check">
                      <input class="form-check-input check_boxes required hidden" type="checkbox" value=<%= site.id %> name="selected_installation[site_installation_id][]" id=<%= "selected_installation_site_installation_id_#{site.id}"%>>
                      <label class="form-check-label collection_check_boxes card-form" id=<%= "label_selected_installation_site_installation_id_#{site.id}"%> for= <%="selected_installation_site_installation_id_#{site.id}"%>><%= site.name %></label>
                    </div>
                  <% end %>
                </div>
              </fieldset>
              <div class="d-flex justify-content-center">
                <input type="submit" name="commit" value="Ajouter" class="btn-orange" data-disable-with="Ajouter" id="FormSiteInstallation">
              </div>
            </form>
          </div>
        </div>

        <div class="col-6">
        <%# Not to have a double id with the other form %>
          <div class="hidden-form hidden" id="siteInstallationFix">
            <form class="simple_form new_selected_installation" id="new_selected_installation" novalidate="novalidate" action=<%= ppsp_selected_installations_path(@ppsp.id)%> accept-charset="UTF-8" data-remote="true" method="post">
              <fieldset class="form-group check_boxes required selected_installation_site_installation">
                <div class="form-check d-flex flex-wrap justify-content-start">
                  <input type="hidden" name="selected_installation[site_installation_id][]" value="">
                  <% SiteInstallation.where(mobile: false).each do |site| %>
                    <div class="form-check">
                      <input class="form-check-input check_boxes required hidden" type="checkbox" value=<%= site.id%> name="selected_installation[site_installation_id][]" id=<%="selected_installation_site_installation_id_#{site.id}"%>>
                      <label class="form-check-label collection_check_boxes card-form" for= <%= "selected_installation_site_installation_id_#{site.id}"%>><%= site.name %></label>
                    </div>
                  <% end %>
                </div>
              </fieldset>
              <div class="d-flex justify-content-center">
                <input type="submit" name="commit" value="Ajouter" class="btn-orange" data-disable-with="Ajouter">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="altitude-work">
    <h1>Travaux en hauteur</h1>
    <div class="d-flex flex-column align-items-center">
      <input type="checkbox" class="hidden" id="checkAltitudeWork" name="altitudeWork">
      <label for="checkAltitudeWork" id="CheckAltitudeWork" class="btn-orange-ext">Ajouter</label>

      <form class="simple_form new_selected_altitude hidden-form hidden" id="altitudeWork" novalidate="novalidate" action=<%= ppsp_selected_altitudes_path(@ppsp) %> data-remote="true" accept-charset="UTF-8" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <fieldset class="form-group check_boxes required selected_altitude_altitude_work">
          <input type="hidden" name="selected_altitude[altitude_work_id][]" value="">
          <% @work_altitudes.each do |work| %>
            <div class="form-check">
              <input class="form-check-input check_boxes required hidden" type="checkbox" value="<%= work.id %>" name="selected_altitude[altitude_work_id][]" id="selected_altitude_altitude_work_id_<%= work.id %>">
              <label class="form-check-label collection_check_boxes card-form" id="label_selected_altitude_altitude_work_id_<%= work.id %>" for="selected_altitude_altitude_work_id_<%= work.id %>"><%= work.name %></label>
            </div>
          <% end %>
          <input class="form-control string required" type="text" placeholder="Autres..." name="selected_altitude[altitude_work_id][]" id="selected_altitude_altitude_work_id_<%= AltitudeWork.last.id + 1 %>">
          <div class="d-flex justify-content-center mt-1">
            <input type="submit" name="commit" class="btn-orange" value="Ajouter" data-disable-with="Ajouter" id="FormAltitudeWork">
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="risks">
    <h1>Types de travaux associés au projet</h1>
    <div class="d-flex flex-column align-items-center">
      <label for="checkRisks" id="checkRisks" class="btn-orange-ext">Ajouter</label>
      <form class="simple_form new_selected_risk hidden" id="new_selected_risk" novalidate="novalidate" action=<%= ppsp_selected_risks_path(@ppsp.id)%> accept-charset="UTF-8" data-remote="true" method="post">
        <fieldset class="form-group check_boxes required selected_risk_risk">
          <input type="hidden" name="selected_risk[risk_id][]" value="">
          <div class="form-check d-flex flex-wrap justify-content-center">
            <% Risk.all.each do |risk| %>
              <input class="form-check-input check_boxes required hidden" type="checkbox" value= <%= risk.id %> name="selected_risk[risk_id][]" id=<%= "selected_risk_risk_id_#{risk.id}" %>>
              <label class="form-check-label collection_check_boxes card-form" for=<%= "selected_risk_risk_id_#{risk.id}"%> id=<%= "label_selected_risk_risk_id_#{risk.id}" %>><%= risk.name %></label>
            <% end %>
          </div>
          <div class="d-flex justify-content-center">
            <input type="submit" name="commit" value="Ajouter" data-disable-with="Ajouter" class="btn-orange" id="FormSelectedRisk">
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="subcontractor mb-2">
    <h1>Sous-traitants</h1>
    <div class="d-flex justify-content-center mb-2">
      <button type="button" class="btn-orange-ext" data-toggle="modal" data-target="#ModalSubcontractor">
        Ajouter un sous-traitant
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="ModalSubcontractor" tabindex="-1" role="dialog" aria-labelledby="ModalSubcontractor" aria-hidden="true">
      <%= render 'modal_subcontractor' %>
    </div>

    <div class="container-bottom-right">
      <div id="cardSelect">
        <% if @num_info_select > 0 %>
          <div class="card-info hidden">
            <div id="card-info-close">x</div>
            <h2><b>Selection</b></h2>
            <% if @selected_installation_active.count > 0 %>
              <h3 class='card-info-title'>Installations</h3>
              <% @selected_installation_active.each do |select_installation| %>
                <div class="card-info-selected">
                  <div class="card-info-name">
                    <%= "#{select_installation.site_installation.name} <i style='font-size: 12px'>(#{select_installation.site_installation.mobile ? "mobile" : "fixe"})</i>".html_safe %>
                  </div>
                  <div class="card-info-delete">
                    <%= link_to "x",  ppsp_selected_installation_path(@ppsp.id, select_installation.id), method: :delete, remote: true, data: {confirm: "Êtes-vous sûr de vouloir supprimer ?"} %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if @selected_altitude_active.count > 0 %>
              <h3 class='card-info-title'>Travail en hauteur</h3>
              <% @selected_altitude_active.each do |select_altitude| %>
                <div class="card-info-selected">
                  <div class="card-info-name">
                    <% if select_altitude.other %>
                      <%= select_altitude.altitude_work.name %>, <%= select_altitude.other %>
                    <% else %>
                      <%= select_altitude.altitude_work.name %>
                    <% end %>
                  </div>
                  <div class="card-info-delete">
                    <%= link_to "x",  ppsp_selected_altitude_path(select_altitude.ppsp.id, select_altitude.id), method: :delete, remote: true, data: {confirm: "Êtes-vous sûr de vouloir supprimer ?"} %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if @selected_risk_active.count > 0 %>
              <h3 class="card-info-title">Risques</h3>
              <% @selected_risk_active.each do |select_risk| %>
                <div class="card-info-selected">
                  <div class="card-info-name">
                    <%= select_risk.risk.name %>
                  </div>
                  <div class="card-info-delete">
                    <%= link_to "x",  ppsp_selected_risk_path(select_risk.ppsp.id, select_risk.id), method: :delete, remote: true, data: {confirm: "Êtes-vous sûr de vouloir supprimer ?"} %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if @ppsp.subcontractors.count > 0 %>
              <h3 class="card-info-title">Sous Traitants</h3>
              <% @ppsp.subcontractors.each do |subcontract| %>
                <div class="card-info-selected">
                  <div class="card-info-body">
                    <div class="card-info-name">
                      <%= subcontract.name %> - <%= subcontract.responsible_name %>
                    </div>
                  </div>
                  <div class="card-info-delete">
                    <%= link_to "x", ppsp_subcontractor_path(@ppsp, subcontract), method: :delete, remote: true, data: {confirm: "Êtes-vous sûr de vouloir supprimer ?"} %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if @num_info_select > 0 %>
        <div id="btn-mes-infos">
          <div class='btn-num'><%= @num_info_select %> </div>
          <div>ajout<%= @num_info_select > 1 ? "s" : "" %></div>
        </div>
      <% end %>
    </div>
    
  </div>
  

  <%= link_to "J'ai terminé !", ppsps_path, class: 'btn-blue' %>
</div>
