<div class="pdf">
  <%= image_tag 'camion_ppsp.png', height: '100px' %>
  <div class="pdf-banner mb-3">
    <div class="banner-title">
      Plan Particulier de Sécurité et de Protection de la Santé
    </div>
    <div class="banner-subtitle">
      Si tu veux écrire un sous-titre c'est ici
    </div>
  </div>
  <div class="container">
    <div class="pdf-general-infos mb-3">
      <div class="pdf-title">
        Informations générales
      </div>
      <div class="gi-company-name">
        Nom de l'entreprise : <%= @ppsp.company.name %>
      </div>
      <div class="gi-company-address">
        Coordonnées de l'entreprise : <%= @ppsp.company.address %>
      </div>
      <div class="gi-ppsp-site">
        Lieu du chantier : <%= @ppsp.address %>
      </div>
      <div class="gi-ppsp-start">
        Date de début : <%= @ppsp.start %>
      </div>
      <div class="gi-ppsp-end">
        Date de fin : <%= @ppsp.end %>
      </div>
      <div class="gi-nature">
        Nature des travaux : <%= @ppsp.nature %>
      </div>
      <div class="gi-workforce">
        Moyens humains : <%= @ppsp.workforce %>
      </div>
    </div>
    <div class="pdf-renseignement-admin mb-3">
      <div class="pdf-moa mb-3">
        <div class="pdf-title">
          MOA
        </div>
        <div class="moa-name">
          Nom : <%= @ppsp.moa.name %>
        </div>
        <div class="moa-address">
          Adresse : <%= @ppsp.moa.address %>
        </div>
        <div class="moa-representative">
          Représentant : <%= @ppsp.moa.representative %>
        </div>
        <div class="moa-phone">
          Téléphone : <%= @ppsp.moa.phone %>
        </div>
        <div class="moa-email">
          Email : <%= @ppsp.moa.email %>
        </div>
      </div>
      <div class="pdf-moe mb-3">
        <div class="pdf-title">
          MOE
        </div>
        <div class="moe-name">
          Nom : <%= @ppsp.moe.name %>
        </div>
        <div class="moe-address">
          Adresse : <%= @ppsp.moe.address %>
        </div>
        <div class="moe-representative">
          Représentant : <%= @ppsp.moe.representative %>
        </div>
        <div class="moe-phone">
          Téléphone : <%= @ppsp.moe.phone %>
        </div>
        <div class="moe-email">
          Email : <%= @ppsp.moe.email %>
        </div> 
      </div>
    </div>
    <div class="pdf-project-org mb-3">
      <div class="pdf-company mb-3">
        <div class="pdf-title">
          Entreprise
        </div>
        <div class="company-name">
          Nom : <%= @ppsp.company.name %>
        </div>
        <div class="company-address">
          Adresse : <%= @ppsp.company.address %>
        </div>
        <div class="company-representative">
          Représentant : <%= @ppsp.company.representative %>
        </div>
        <div class="company-phone">
          Téléphone : <%= @ppsp.company.phone %>
        </div>
        <div class="company-email">
          Email : <%= @ppsp.company.email %>
        </div>
      </div>
      <div class="pdf-project-information mb-3">
        <div class="pdf-title">
          Informations du chantier
        </div>
        <div class="pi-reference">
          Référence : <%= @ppsp.project_information.reference %>
        </div>
        <div class="pi-responsible">
          Responsable : <%= @ppsp.project_information.responsible %>
        </div>
        <div class="pi-phone">
          Téléphone : <%= @ppsp.project_information.phone %>
        </div>
        <div class="pi-email">
          Email : <%= @ppsp.project_information.email %>
        </div>
        <div class="pi-site-manager">
          <div class="pdf-subtitle">
            Chef de chantier
          </div>
          <div class="pi-site-manager-name">
            Nom : <%= @ppsp.project_information.site_manager.name %>
          </div>
          <div class="pi-site-manager-phone">
            <%= @ppsp.project_information.site_manager.phone %>
          </div>
          <div class="pi-site-manager-email">
            <%= @ppsp.project_information.site_manager.email %>
          </div>
        </div>
        <div class="pi-team-manager">
          <div class="pdf-subtitle">
            Chef d'équipe
          </div>
          <div class="pi-team-manage-name">
            <%= @ppsp.project_information.team_manager.name %>
          </div>
          <div class="pi-team-manage-phone">
            <%= @ppsp.project_information.team_manager.phone %>
          </div>
          <div class="pi-team-manage-email">
            <%= @ppsp.project_information.team_manager.email %>
          </div>
        </div>     
      </div>
    </div>
    <% if @ppsp.subcontractor_id %>
      <div class="pdf-subcontractor mb-3">
        <div class="pdf-title">
          Sous-Traitants
        </div>
        <div class="subcontractor-name">
          <%= @ppsp.subcontractor.name %>
        </div>
        <div class="subcontractor-address">
          <%= @ppsp.subcontractor.address %>
        </div>
        <div class="subcontractor-work">
          <%= @ppsp.subcontractor.work %>
        </div>
      </div>
    <% end %>
    <div class="pdf-signalization mb-3">
      <div class="pdf-title">
        Signalisation
      </div>
      <div class="pdf-agglomeration">
        Agglomération : <%= @ppsp.agglomeration %>
      </div>
      <div class="pdf-street-impact">
        Impact Voirie : <%= @ppsp.street_impact %>
      </div>
      <div class="pdf-river-guidance">
        Signalisation fluviale : <%= @ppsp.river_guidance %>
      </div>
    </div>
  </div>
</div>
