<div class="pdf">
  <%= image_tag 'camion_ppsp.png', height: '100px' %>
  <div class="pdf-banner mb-3">
    <div class="banner-title">
      Plan Particulier de Sécurité et de Protection de la Santé
    </div>
    <div class="banner-subtitle">
      Si tu veux écrire un sous-titre c'est ici
    </div>
  </div>
  <div class="container">
    <div class="pdf-general-infos mb-3">
      <div class="pdf-title">
        Informations générales
      </div>
      <div class="gi-company-name">
        Nom de l'entreprise : <%= current_user.company.name %>
      </div>
      <div class="gi-company-address">
        Coordonnées de l'entreprise : <%= current_user.company.address %>
      </div>
      <div class="gi-ppsp-site">
        Lieu du chantier : <%= @ppsp.address %>
      </div>
      <div class="gi-ppsp-start">
        Date de début : <%= @ppsp.start %>
      </div>
      <div class="gi-ppsp-end">
        Date de fin : <%= @ppsp.end %>
      </div>
      <div class="gi-nature">
        Nature des travaux : <%= @ppsp.nature %>
      </div>
      <div class="gi-workforce">
        Moyens humains : <%= @ppsp.workforce %>
      </div>
    </div>
    <div class="pdf-renseignement-admin mb-3">
      <div class="pdf-title">
        Renseignements Administratifs
      </div>
      <div class="pdf-moa mb-3">
        <div class="pdf-subtitle">
          MOA
        </div>
        <div class="moa-name">
          Nom : <%= @ppsp.moa.name %>
        </div>
        <div class="moa-address">
          Adresse : <%= @ppsp.moa.address %>
        </div>
        <div class="moa-representative">
          Représentant : <%= @ppsp.moa.representative %>
        </div>
        <div class="moa-phone">
          Téléphone : <%= @ppsp.moa.phone %>
        </div>
        <div class="moa-email">
          Email : <%= @ppsp.moa.email %>
        </div>
      </div>
      <div class="pdf-moe mb-3">
        <div class="pdf-subtitle">
          MOE
        </div>
        <div class="moe-name">
          Nom : <%= @ppsp.moe.name %>
        </div>
        <div class="moe-address">
          Adresse : <%= @ppsp.moe.address %>
        </div>
        <div class="moe-representative">
          Représentant : <%= @ppsp.moe.representative %>
        </div>
        <div class="moe-phone">
          Téléphone : <%= @ppsp.moe.phone %>
        </div>
        <div class="moe-email">
          Email : <%= @ppsp.moe.email %>
        </div> 
      </div>
    </div>
    <div class="pdf-project-org mb-3">
      <div class="pdf-title">
        Organigramme du chantier
      </div>
      <div class="pdf-company mb-3">
        <div class="pdf-subtitle">
          Entreprise titulaire
        </div>
        <div class="company-name">
          Nom : <%= current_user.company.name %>
        </div>
        <div class="company-address">
          Adresse : <%= current_user.company.address %>
        </div>
        <div class="company-representative">
          Représentant : <%= "#{current_user.first_name} #{current_user.last_name}" %>
        </div>
        <div class="company-phone">
          Téléphone : <%= current_user.company.phone %>
        </div>
        <div class="company-email">
          Email : <%= current_user.email %>
        </div>
      </div>
      <div class="pdf-project-information mb-3">
        <div class="pdf-subtitle">
          Informations du chantier
        </div>
        <div class="pi-reference">
          Référence : <%= @ppsp.project_information.reference %>
        </div>
        <div class="pi-responsible">
          Responsable : <%= @ppsp.project_information.responsible %>
        </div>
        <div class="pi-phone">
          Téléphone : <%= @ppsp.project_information.phone %>
        </div>
        <div class="pi-email">
          Email : <%= @ppsp.project_information.email %>
        </div>
        <div class="pi-site-manager">
          <div class="pdf-subsubtitle">
            Chef de chantier
          </div>
          <div class="pi-site-manager-name">
            Nom : <%= @ppsp.project_information.site_manager.name %>
          </div>
          <div class="pi-site-manager-phone">
            <%= @ppsp.project_information.site_manager.phone %>
          </div>
          <div class="pi-site-manager-email">
            <%= @ppsp.project_information.site_manager.email %>
          </div>
        </div>
        <div class="pi-team-manager">
          <div class="pdf-subsubtitle">
            Chef d'équipe
          </div>
          <div class="pi-team-manager-name">
            <%= @ppsp.project_information.team_manager.name %>
          </div>
          <div class="pi-team-manager-phone">
            <%= @ppsp.project_information.team_manager.phone %>
          </div>
          <div class="pi-team-manager-email">
            <%= @ppsp.project_information.team_manager.email %>
          </div>
        </div>     
      </div>
    </div>
    <div class="rescues">
      <div class="pdf-title">
        Organisation des secours
      </div>
      <div class="prevention-organisms">
        <div class="pdf-subtitle">
          Organismes de préventions
        </div>
        <div class="po-direcct">
          <div class="pdf-subsubtitle">
            DIRECCT
          </div>
          <div class="po-direcct-address">
            <%= @ppsp.direcct.address %>
          </div>
          <div class="po-direcct-phone">
            <%= @ppsp.direcct.phone %>
          </div>
          <div class="po-direcct-fax">
            <%= @ppsp.direcct.fax %>
          </div>
        </div>
        <div class="po-regional-committee">
          <div class="pdf-subsubtitle">
            Comité Régional de l'OPPBTP
          </div>
          <div class="po-rc-name">
            <%= @ppsp.regional_committee.name %>
          </div>
          <div class="po-rc-address">
            <%= @ppsp.regional_committee.address %>
          </div>
          <div class="po-rc-phone">
            <%= @ppsp.regional_committee.phone %>
          </div>
          <div class="po-rc-fax">
            <%= @ppsp.regional_committee.fax %>
          </div>
        </div>
        <div class="po-pension-insurance">
          <div class="pdf-subsubtitle">
            Caisse d'Assurance Retraite et de Santé au Travail
          </div>
          <div class="po-pi-address">
            <%= @ppsp.pension_insurance.address %>
          </div>
          <div class="po-pi-phone">
            <%= @ppsp.pension_insurance.phone %>
          </div>
          <div class="po-pi-fax">
            <%= @ppsp.pension_insurance.fax %>
          </div>
        </div>
        <div class="po-work-medecine">
          <div class="pdf-subsubtitle">
            Médecine du Travail
          </div>
          <div class="po-wm-address">
            <%= @ppsp.work_medecine.address %>
          </div>
          <div class="po-wm-phone">
            <%= @ppsp.work_medecine.phone %>
          </div>
          <div class="po-wm-fax">
            <%= @ppsp.work_medecine.fax %>
          </div>
        </div>
      </div>
      <div class="external-services">
        <div class="pdf-subtitle">
          Services extérieurs
        </div>
        <div class="es-firemen">
          <div class="pdf-subsubtitle">
            Pompier
          </div>
          <div class="es-firemen-num">
            18 ou 112 (portable)
          </div>
        </div>
        <div class="es-police">
          <div class="pdf-subsubtitle">
            Police
          </div>
          <div class="es-police-num">
            17
          </div>
        </div>
        <div class="es-SAMU">
          <div class="pdf-subsubtitle">
            SAMU
          </div>
          <div class="es-SAMU-num">
            15
          </div>
        </div>
        <div class="es-demining">
          <div class="pdf-subsubtitle">
            Centre de déminage
          </div>
          <div class="es-demining-name">
            <%= @ppsp.demining.name %>
          </div>
          <div class="es-demining-address">
            <%= @ppsp.demining.address %>
          </div>
          <div class="es-demining-phone">
            <%= @ppsp.demining.phone %>
          </div>
        </div>
        <div class="es-anti-poison">
          <div class="pdf-subsubtitle">
            Centre Anti-Poison
          </div>
          <div class="es-ap-name">
            <%= @ppsp.anti_poison.name %>
          </div>
          <div class="es-ap-address">
            <%= @ppsp.anti_poison.address %>
          </div>
          <div class="es-ap-phone">
            <%= @ppsp.anti_poison.phone %>
          </div>
        </div>
        <div class="es-sos-hand">
          <div class="pdf-subsubtitle">
            SOS Mains et Doigts
          </div>
          <div class="es-sh-name">
            <%= @ppsp.sos_hand.name %>
          </div>
          <div class="es-sh-address">
            <%= @ppsp.sos_hand.address %>
          </div>
          <div class="es-sh-phone">
            <%= @ppsp.sos_hand.phone %>
          </div>
        </div>
        <div class="es-hospital">
          <div class="pdf-subsubtitle">
            Hôpital le plus proche
          </div>
          <div class="es-hospital-name">
            <%= @ppsp.hospital.name %>
          </div>
          <div class="es-hospital-address">
            <%= @ppsp.hospital.address %>
          </div>
          <div class="es-hospital-phone">
            <%= @ppsp.hospital.phone %>
          </div>
        </div>
      </div>
    </div>
    <% @ppsp.subcontractors.each do |subcontract| %>
      <div class="pdf-subcontractor mb-3">
        <div class="pdf-title">
          Sous-Traitants
        </div>
        <div class="subcontractor-name">
          <%= subcontract.name %>
        </div>
        <div class="subcontractor-address">
          <%= subcontract.address %>
        </div>
        <div class="subcontractor-work">
          <%= subcontract.work %>
        </div>
        <div class="subcontractor-respname">
          <%= subcontract.responsible_name %>
        </div>
        <div class="subcontractor-respphone">
          <%= subcontract.responsible_phone %>
        </div>
        <div class="subcontractor-respmail">
          <%= subcontract.responsible_email %>
        </div>
      </div>
    <% end %>
    <div class="pdf-signalization mb-3">
      <div class="pdf-title">
        Signalisation
      </div>
      <div class="pdf-agglomeration">
        Agglomération : <%= @ppsp.agglomeration %>
      </div>
      <div class="pdf-street-impact">
        Impact Voirie : <%= @ppsp.street_impact %>
      </div>
      <div class="pdf-river-guidance">
        Signalisation fluviale : <%= @ppsp.river_guidance %>
      </div>
    </div>

    <% if @ppsp.site_installations %>
      <div class="pdf-site-installation">
        <div class="pdf-title">
          Installations de chantier
        </div>
        <% @ppsp.site_installations.each do |site| %>
          <div class="si-name">
            <%= site.name %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @ppsp.altitude_works %>
      <div class="pdf-altitude-work">
        <div class="pdf-title">
          Travail en altitude
        </div>
        <% @ppsp.altitude_works.each do |work| %>
          <div class="aw-name">
            <%= work.name %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @ppsp.risks %>
      <div class="pdf-risk">
        <div class="pdf-title">
          Risques
        </div>
        <% @ppsp.risks.each do |risk| %>
          <div class="risk-name">
            <%= risk.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
