<div class="pdf">
  <%= image_tag 'camion_ppsp.png', height: '100px' %>
  <div class="pdf-banner">
    <div class="banner-title">
      Plan Particulier de Sécurité et de Protection de la Santé
    </div>
    <div class="banner-subtitle">
      Si tu veux écrire un sous-titre c'est ici
    </div>
  </div>
  <div class="pdf-general-infos mb-5">
    <div class="gi-title">
      Informations générale
    </div>
    <div class="gi-company-name">
      Nom de l'entreprise : <%= @ppsp.company.name %>
    </div>
    <div class="gi-company-address">
      Coordonnées de l'entreprise : <%= @ppsp.company.address %>
    </div>
    <div class="gi-ppsp-site">
      Lieu du chantier : <%= @ppsp.address %>
    </div>
    <div class="gi-ppsp-start">
      Date de début : <%= @ppsp.start %>
    </div>
    <div class="gi-ppsp-end">
      Date de fin : <%= @ppsp.end %>
    </div>
    <div class="gi-nature">
      Nature des travaux : <%= @ppsp.nature %>
    </div>
    <div class="gi-workforce">
      Moyens humains : <%= @ppsp.workforce %>
    </div>
  </div>
  <div class="pdf-renseignement-admin">
    <div class="pdf-moa">
      <div class="moa-title">
        MOA
      </div>
      <div class="moa-name">
        <%= @ppsp.moa.name %>
      </div>
      <div class="moa-address">
        <%= @ppsp.moa.address %>
      </div>
      <div class="moa-representative">
        <%= @ppsp.moa.representative %>
      </div>
      <div class="moa-phone">
        <%= @ppsp.moa.phone %>
      </div>
      <div class="moa-email">
        <%= @ppsp.moa.email %>
      </div>
    </div>
    <div class="pdf-moe">
      <div class="moe-title">
        MOE
      </div>
      <div class="moe-name">
        <%= @ppsp.moe.name %>
      </div>
      <div class="moe-address">
        <%= @ppsp.moe.address %>
      </div>
      <div class="moe-representative">
        <%= @ppsp.moe.representative %>
      </div>
      <div class="moe-phone">
        <%= @ppsp.moe.phone %>
      </div>
      <div class="moe-email">
        <%= @ppsp.moe.email %>
      </div> 
    </div>
  </div>
  <div class="pdf-project-org">
    <div class="pdf-company">
      <div class="company-title">
        Entreprise
      </div>
      <div class="company-name">
        <%= @ppsp.company.name %>
      </div>
      <div class="company-address">
        <%= @ppsp.company.address %>
      </div>
      <div class="company-representative">
        <%= @ppsp.company.representative %>
      </div>
      <div class="company-phone">
        <%= @ppsp.company.phone %>
      </div>
      <div class="company-email">
        <%= @ppsp.company.email %>
      </div>
    </div>
    <div class="pdf-project-information">
      <div class="pi-title">
        Informations du chantier
      </div>
      <div class="pi-reference">
        <%= @ppsp.project_information.reference %>
      </div>
      <div class="pi-responsible">
        <%= @ppsp.project_information.responsible %>
      </div>
      <div class="pi-phone">
        <%= @ppsp.project_information.phone %>
      </div>
      <div class="pi-email">
        <%= @ppsp.project_information.email %>
      </div>
      <div class="pi-site-manager">
        <div class="pi-site-manager-name">
          <%= @ppsp.project_information.site_manager.name %>
        </div>
        <div class="pi-site-manager-phone">
          <%= @ppsp.project_information.site_manager.phone %>
        </div>
        <div class="pi-site-manager-email">
          <%= @ppsp.project_information.site_manager.email %>
        </div>
      </div>
      <div class="pi-team-manager">
        <div class="pi-team-manage-name">
          <%= @ppsp.project_information.team_manager.name %>
        </div>
        <div class="pi-team-manage-phone">
          <%= @ppsp.project_information.team_manager.phone %>
        </div>
        <div class="pi-team-manage-email">
          <%= @ppsp.project_information.team_manager.email %>
        </div>
      </div>     
    </div>
  </div>
  <% if @ppsp.subcontractor_id %>
    <div class="pdf-subcontractor">
      <div class="subcontractor-title">
        Sous-Traitants
      </div>
      <div class="subcontractor-name">
        <%= @ppsp.subcontractor.name %>
      </div>
      <div class="subcontractor-address">
        <%= @ppsp.subcontractor.address %>
      </div>
      <div class="subcontractor-work">
        <%= @ppsp.subcontractor.work %>
      </div>
    </div>
  <% end %>
  <div class="pdf-agglomeration">
    Agglomération : <%= @ppsp.agglomeration %>
  </div>
  <div class="pdf-street-impact">
    Impact Voirie : <%= @ppsp.street_impact %>
  </div>
  <div class="pdf-river-guidance">
    Signalisation fluviale : <%= @ppsp.river_guidance %>
  </div>
</div>
