<body class="bg-white">
  <div class="container">
    <div class="page-break">
      <%= render partial: 'ppsps/render_pages/admin/company_resps' %>
    </div>

    <% if @ppsp.subcontractors.any? %>
      <div class="page-break">
        <%= render partial: 'ppsps/render_pages/admin/subcontractors' %>
      </div>
    <% end %>

    <div class="page-break">
      <%= render partial: 'ppsps/render_pages/admin/correspondants' %>
    </div>

    <div class="page-break">
      <%= render partial: 'ppsps/render_pages/admin/prevention_organisms' %>
    </div>

    <div class="page-break">
      <%= render partial: 'ppsps/render_pages/worksite/infos' %>
    </div>

    <div class="page-break">
      <%= render partial: 'ppsps/render_pages/worksite/effectifs_locals' %>
    </div>

    <% if @ppsp.worksite.electrical_site %>
      <div class="page-break">
        <%= render partial: 'ppsps/render_pages/worksite/plan_electrical' %>
      </div>
    <% end %>

    <% if @ppsp.worksite.water_site %>
      <div class="page-break">
        <%= render partial: 'ppsps/render_pages/worksite/plan_water' %>
      </div>
    <% end %>

    <% if @ppsp.worksite.plan_installation.attached? %>
      <div class="page-break">
        <%= render partial: 'ppsps/render_pages/worksite/plan_installation' %>
      </div>
    <% end %>

    <% if @ppsp.altitude_works.any? %>
      <div class="page-break">
        <%= render partial: 'ppsps/render_pages/worksite/altitude_work' %>
      </div>
    <% end %>

    <% if @conductors.any? %>
      <div class="page-break">
        <%= render partial: 'ppsps/render_pages/worksite/conductors' %>
      </div>
    <% end %>

    <% if @lifesavers.any? %>
      <div class="page-break">
        <%= render partial: 'ppsps/render_pages/security/list' %>
      </div>
    <% end %>

    <div class="page-break">
      <%= render partial: 'ppsps/render_pages/security/services' %>
    </div>

    <% if @ppsp.user.company.kit_security_elements.any? %>
      <div class="page-break">
        <%= render partial: 'ppsps/render_pages/security/kit' %>
      </div>
    <% end %>

    <div class="page-break">
      <%= render partial: 'ppsps/render_pages/risks/infos' %>
    </div>

    <% if @ppsp.content_secu.present? %>
      <%= render partial: 'ppsps/render_pages/risks/specificity' %>
    <% end %>


    <% if @ppsp.annexes.attached? %>
      <% @annexes.each do |index, value| %>
        <div class='page-break'>
          <h1 class="pdf-title mb-2">
            <%= "Annexe #{index + 1}" %>
          </h1>
          <% (1..value[:pages]).each do |i| %>
              <%= cl_image_tag(value[:key] + '.jpg', page: i, crop: "scale", width: 850) %>
          <% end %>
          </div>
      <% end %>
    <% end %>


    <div class="last-page">
      <%= render 'ppsps/render_pages/emargement' %>
    </div>
    
  </div>
</body>

