<div class="container">
  <div class="link-db">
    <%= link_to "Revenir aux bases de données", database_path %>
  </div>
  <% if policy(AntiPoison).new? %>
    <div>
      <button type="button" class="btn-blue" data-toggle="modal" data-target="#ModalAntiPoison">
        Ajouter un Centre anti poison
      </button>
    </div>
  <% end %>
  <%# Modal Anti_Poison %>
  <% if policy(AntiPoison).new? %>
    <div class="modal fade" id="ModalAntiPoison" tabindex="-1" role="dialog" aria-labelledby="ModalAntiPoison" aria-hidden="true">
      <%= render 'ppsps/modal_anti_poison' %>
    </div>
  <% end %>
  <div class="container-database">
    <% @anti_poisons.each do |anti_poison| %>
      <div class="card-database">
        <div class="card-db-header">
          <%= link_to edit_anti_poison_path(anti_poison), class: "card-db-edit", target: '_blank' do %>
            <i class='fas fa-pencil-alt'></i>
          <% end %>
          <%= link_to "x", destroy_anti_poison_path(anti_poison), class: "card-db-delete", method: :post, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet élément ?"} %>
        </div>
        <div class="db-element">
          <%= anti_poison.name %>
        </div>
        <div class="db-element">
          <%= anti_poison.address %>
        </div>
        <div class="db-element">
          <%= anti_poison.phone %>
        </div>
      </div>
    <% end %>
  </div>
</div>