<div class="navbar navbar-expand-sm navbar-light navbar-ppsp">
  <%= link_to ppsps_path, class:"icon-home" do %>
    <%= image_tag('logo-ppsp.png', width: 80, height: 80) %>
  <% end %>

  <% if user_signed_in? %>
    <div class="navbar-text">
      <div class="navbar-company">
        <%= current_user.company.name %>
      </div>
      <div class="navbar-user">
        <%= "#{current_user.first_name} #{current_user.last_name}" %>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <%= link_to "Mon profil", profile_path(current_user), class: 'btn-blue-ext mr-2'%>
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn-blue"%>
    </div>
  <% else %>
    <a href="mailto:alexis.lenoir60@gmail.com" class="btn-orange">Demander une démo</a>
    <%= button_to "Se connecter", new_user_session_path, class: "btn-orange-ext" %>
  <% end %>
</div>
