<% if user_signed_in? %>
  <div class="navbar-expand-sm navbar-light navbar-ppsp">
    <%= link_to ppsps_path, class:"icon-home" do %>
      <%= image_tag('logo/logo-ppsp.png', width: 80, height: 80) %>
    <% end %>

    <div class="navbar-text">
      <div class="navbar-company">
        <%= current_user.company.name %>
      </div>
      <div class="navbar-user">
        <%= "#{current_user.first_name} #{current_user.last_name}" %>
      </div>
    </div>

    <div class="d-flex">
      <div class="dropdown-ppsp">
        <div class="nav-icon">
          <%= image_tag 'navbar-icon.png', width: 25, height: 25 %>
        </div>
        <div class="dropdown-ppsp-content">
          <%= link_to "Mon profil", profile_path(current_user), class: 'nav-btn-blue-ext' %>
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: 'nav-btn-blue' %>
        </div>
      </div>
    </div>
  </div>
<% elsif !user_signed_in? && params[:action] == 'home' %>  
  <div class="navbar-expand-sm navbar-light navbar-ppsp justify-content-between px-2 navbar-home" style="background-color: rgba(0,0,0,0); border-color: rgba(0,0,0,0)">
    <%= image_tag('logo/logo-ppsp.png', width: 60, height: 60) %>
    <%= link_to "Se connecter", new_user_session_path, class: "btn-orange-ext", style:"color: white", id:'btn-sign-in' %>
  </div>
<% end %>
