<div class="container mb-3">
  <%= simple_form_for @ppsp, remote: true, data: { step: @step, id: @ppsp.id }, html: {multipart: true}, url: wizard_path, html: { id: 'ppsp_form' } do |f| %> 
    <h3 class="col-md-6 offset-md-3 form-subtitle">
      1-3. Les entreprises sous-traitantes
    </h3>
    <div class="col-md-10 offset-md-1">
      <% csrf_token = form_authenticity_token %>
      <%= react_component("form-subcontractors/components/App", {token: csrf_token}, {id: 'react-render-subcontractors', 'data-ppsps_id': @ppsp.id, 'data-admin': current_user.admin}) %>
    </div>

    <h3 class="col-md-6 offset-md-3 form-subtitle">
      1-4. Désignation du maitre d'oeuvre
    </h3>
    <div class="col-md-6 offset-md-3">
      <div class="form-group select required ppsp_moe_id">
        <div class="container-header-form">
          <label class="select" for="ppsp_moe_id">MOE</label>
          <% if policy(Moe).new? %>
            <%= render 'ppsps/form/btn_add_database', data: 'Moe' %>
          <% end %>
        </div>
        <%= f.input :moe_id, as: :select, label: false, collection: @moes, label_method: lambda {|x| "#{x.name} - #{x.representative}"}, input_html: {class: "select-2"} %>
      </div>
    </div>
    <h3 class="col-md-6 offset-md-3 form-subtitle">
      1-5. Désignation du maitre d'ouvrage
    </h3>
    <div class="col-md-6 offset-md-3">
      <div class="form-group select required ppsp_moa_id">
        <div class="container-header-form">
          <label class="select required" for="ppsp_moa_id">MOA <abbr title="required">*</abbr></label>
          <% if policy(Moa).new? %>
            <%= render 'ppsps/form/btn_add_database', data: 'Moa' %>
          <% end %>
        </div>
        <%= f.input :moa_id, as: :select, label: false, collection: @moas, label_method: lambda {|x| "#{x.name} - #{x.representative}"}, input_html: {class: "select-2"} %>
      </div>
    </div>
    <%= render 'render_footer_steps', step: @step, ppsp: @ppsp, f: f %>
  <% end %>
</div>
