<div class="container mb-3">
  <%= simple_form_for @ppsp, remote: true, url: wizard_path, html: { id: 'ppsp_form', multipart: true } do |f| %> 
    <h3 class="col-md-6 offset-md-3 form-subtitle">
      2-5. Effectifs
    </h3>
    <div class="col-md-6 offset-md-3">
      <%= f.input :num_responsible, label: "Nombre de responsables", input_html: { min: 0 } %>
    </div>
    <div class="col-md-6 offset-md-3">
      <%= f.input :num_worker, label: "Nombre de compagnons", input_html: { min: 0 }  %>
    </div>
    <div class="col-md-6 offset-md-3">
      <%= f.input :num_conductor, label: "Nombre de conducteurs d'engin", input_html: { min: 0 }  %>
    </div>

    <h3 class="col-md-6 offset-md-3 form-subtitle">
      2-6. Locaux affectés au personnel
    </h3>
    <div class="col-md-10 offset-md-1">
        <div id="react-render-site-installations" data-ppsps_id=<%=@ppsp.id%>></div>
    </div>
    <%= render 'render_footer_steps', step: @step, ppsp: @ppsp, f: f %>
  <% end %>
</div>