<div class="container">
  <div class="link-db">
    <%= link_to "Revenir aux bases de données", database_path %>
  </div>
  <% if policy(Demining).new? %>
    <div>
      <button type="button" class="btn-blue" data-toggle="modal" data-target="#ModalDemining">
        Ajouter un centre de déminage
      </button>
    </div>
  <% end %>
  <%# Modal Demining %>
  <% if policy(Demining).new? %>
    <div class="modal fade" id="ModalDemining" tabindex="-1" role="dialog" aria-labelledby="ModalDemining" aria-hidden="true">
      <%= render 'ppsps/modal_demining' %>
    </div>
  <% end %>
  <div class="container-database">
    <% @deminings.each do |demining| %>
      <div class="card-database">
        <div class="card-db-header">
          <%= link_to edit_demining_path(demining), class: "card-db-edit", target: '_blank' do %>
            <i class='fas fa-pencil-alt'></i>
          <% end %>
          <%= link_to "x", demining_path(demining), class: "card-db-delete", method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet élément ?"} %>
        </div>
        <div class="db-element">
          <%= demining.name %>
        </div>
        <div class="db-element">
          <%= demining.address %>
        </div>
        <div class="db-element">
          <%= demining.phone %>
        </div>
      </div>
    <% end %>
  </div>
</div>