<div class="container-home-page">
  <div class="home-banner">
    <%= link_to "Se connecter", new_user_session_path, class: "btn-orange-ext" %>
    <h1>Obras</h1>
    <%# <%= image_tag('logo-ppsp.png') %>
    <h2>Créez votre Plan Particulier de Sécurité et de Protection de la Santé en toute simplicité</h2>
   <a type="button" id="btn-display-modal" class="btn-orange" data-toggle="modal" data-target="#modal-contact">
      Demander une démo
    </a>
  </div>
  <div class="home-container-card">
    <div class="home-card">
      <div class="desc">
        Création de PPSP au format PDF en toute simplicité
      </div>
      <div class="container-media">
        <%= image_tag('home_PDF.png', width: '100%', height: '100%') %>
      </div>
    </div>
    <div class="home-card">
      <div class="desc">
        Stockage centralisé de tous vos documents
      </div>
      <div class="container-media">
        <%= video_tag('video-ppsp.mp4', width: '100%', height: '100%' ,autoplay: true, loop: true, muted: 'muted') %>
      </div>
    </div>
    <div class="home-card">
      <div class="desc">
        Bases de données modifiables selon vos besoin
      </div>
      <div class="container-media">
        <%= image_tag('logo-ppsp.png',  width: '100%', height: '100%') %>
      </div>
    </div>
  </div>
  <div class="end-homepage">
    <div class="separator">
    </div>
    <h2>
      Ne perdez plus de temps avec la paperasse, laissez-nous nous en charger
    </h2>
  </div>
</div>

<div class="modal fade rounded" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Saisir les informations ci-dessous</h5>
        <a type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body">
        <%= render 'contact/mailer/form' %>
      </div>
    </div>
  </div>
</div>

<% if sent %>
  <span id="message-sent"></span>
<% end %>
