<h2 class="pdf-subtitle">
  2.<%= @num_worksite %> Effectifs
  <% @num_worksite += 1 %>
</h2>
<div class="container-50 mb-2">
  <div class="flexbox">
    <div class="flex-div-60">Nombre de d'encadrants : </div><div class="flex-div-40"><%= @ppsp.worksite.num_responsible %></div>
    <div class="flex-div-60">Nombre de conducteurs d'engins : </div><div class="flex-div-40"><%= @ppsp.worksite.num_conductor %></div>
    <div class="flex-div-60">Nombre de compagnons : </div><div class="flex-div-40"><%= @ppsp.worksite.num_worker %></div>
  </div>
</div>

<% if @ppsp.site_installations != [] %>
  <div class="pdf-text-container">
    <h2 class="pdf-subtitle">
      2.<%= @num_worksite %> Locaux affectés au personnel
      <% @num_worksite += 1 %>
    </h2>
    <% @ppsp.site_installations.each do |site| %>
      <div class="si-name">
        <%= site.name %>
      </div>
    <% end %>
  </div>
<% end %>
