<h1 class="pdf-title">II. Le chantier</h1>
<h2 class="pdf-subtitle">
  2.<%= @num_worksite %> Description des travaux
  <% @num_worksite += 1%>
</h2>
<div class="text-center container-50">
  <%= @ppsp.worksite.nature %>
</div>

<h2 class="pdf-subtitle">
  2.<%= @num_worksite %> Adresse du chantier
  <% @num_worksite += 1%>
</h2>
<div class="text-center container-50">
  <%= @ppsp.worksite.address %>
</div>
<div class="pdf-subsubtitle text-center">
  Localisation
</div>
<% unless @marker[:lng].nil? || @marker[:lat].nil? %>
  <div class="d-flex justify-content-center">
    <img src="https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v11/static/pin-s+ff7e67(<%= @marker[:lng] %>,<%= @marker[:lat] %>)/<%= @marker[:lng] %>,<%= @marker[:lat] %>,16/860x400?access_token=<%= Rails.application.credentials.mapbox[:key] %>" alt="map" id="map-mapbox">
  </div>
<% end %>
