<div class='col-md-6 offset-md-3'>
  <%= link_to 'Revenir à mon profil', profile_path(current_user), class: 'link' %>
  <h2>Les informations de mon entreprise</h2>
  <%= simple_form_for @company do |f| %>
    <h3>Nom</h3>
    <%= f.input :name, label: false %>
    <h3>Adresse</h3>
    <%= f.input :address, label: false %>
    <h3>Représentant</h3>
    <%= f.input :representative, label: false %>
    <div class="d-flex justify-content-center my-4">
      <%= f.submit 'Valider', class: 'btn-blue' %>
    </div>
  <% end %>
</div>

<div class="col-md-10 offset-md-1">
  <div class="row">
    <div class="col-md-6">
    <h3>Logo de l'entreprise</h3>
    <div class="d-flex justify-content-center align-items-center render-logo">
      <%= render 'render_logo' %>
    </div>
    <div class='btn-delete' id="removeUpload" style='display: none; text-align: center; width: 100%'>Annuler</div>
    <%= simple_form_for @company do |f| %>
      <div class="d-flex justify-content-center">
        <%= f.input :logo, label: false %>
      </div>
      <div class="d-flex justify-content-center my-4">
        <%= f.submit "Modifier", class: 'btn-blue' %>
      </div>
    <% end %>
    </div>
    <div class="col-md-6">
      <h3>Image de couverture des PPSPS</h3>
      <div class="d-flex justify-content-center align-items-center render-cover">
        <%= render 'render_cover' %>
      </div>
      <%= simple_form_for @company do |f| %>
        <div class="d-flex justify-content-center">
          <%= f.input :cover_image, label: false %>
        </div>
        <div class="d-flex justify-content-center my-4">
          <%= f.submit "Modifier", class: 'btn-blue' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='col-md-6 offset-md-3'>
  <div class="security-kit">
    <h3>La trousse de sécurité de mon entreprise</h3>
    <div class='card-kit-security'>
      <div class="card-kit-security">
        <div class="top"></div>
        <div class="card-kit-content">
          <div class="list selected-kit-security" id="selected-kit-security">
            <% @company.kit_security_elements.each do |kit| %>
              <li>
                <%= "#{kit.number} #{kit.name}" %>
                <%= link_to 'x', kit_security_element_path(kit), method: :delete, data: {confirm: 'Êtes-vous sûr ?'}, class: 'ml-1', remote: true %>
              </li>
            <% end %>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn-blue my-2" id="btn-add-security-kit">Ajouter</button>
      </div>
      <div id="container-form-kit">
        <%= render 'kit_security_elements/form' %>
      </div>
    </div>
  </div>
</div>

<div class='col-md-10 offset-md-1 mb-5'>
  <h3 class="text-center mt-3">Préambule pour les PPSPS de votre entreprise</h3>

  <% if @company.content_secu.present? %>
    <p>Voir le préambule de mon entreprise</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn-blue" data-toggle="modal" data-target="#modalContentSecu">
      Voir le préabule
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modalContentSecu" tabindex="-1" role="dialog" aria-labelledby="modalContentSecuLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalContentSecuLabel">Préambule</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= @company.content_secu.html_safe %>
          </div>
        </div>
      </div>
    </div>
    <p>Vous pouvez modifier votre prémabule en cliquant sur <span class="time-emphasis">Editeur de texte</span> </p>
  <% else %>
    <p>Vous n'avez pas encore entré de préambule. Vous pouvez cliquer sur <span class="time-emphasis">Editeur de texte</span> pour en ajouter un</p>
  <% end %>
  
  <button type="button" class="btn-orange" data-toggle="modal" data-target="#modalTiny">
    Editeur de texte
  </button>
  <div class="modal fade" id="modalTiny" tabindex="-1" role="dialog" aria-labelledby="modalTinyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTinyLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-tiny-body">
          <div id='tinymce-form'>
            <%= simple_form_for @company do |f| %>
              <input class='hidden' name=image type=file id="upload" onchange="">
              <%= f.text_area :content_secu, class: 'tinymce', 'data-company_secu': @company.content_secu %>
              <%= tinymce %>
              <div class="d-flex justify-content-center">
                <%= f.submit 'Valider', class: 'btn-blue mt-2' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>