<% @hospitals_page.each do |hospital| %>
  <div class="card-database">
    <div class="db-element col-30">
      <%= hospital.name %>
    </div>
    <div class="db-element col-30">
      <%= hospital.address %>
    </div>
    <div class="db-element col-30">
      <%= hospital.phone %>
    </div>
    <div class="card-db-header">
      <%= link_to edit_hospital_path(hospital), class: "card-db-edit", target: '_blank' do %>
        <i class='fas fa-pencil-alt'></i>
      <% end %>
      <%= link_to "x", destroy_hospital_path(hospital), class: "card-db-delete", method: :post, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet élément ?"} %>
    </div>
  </div>
<% end %>