<%= form_with url: hospitals_path(hospital), class: "d-flex mt-2 justify-content-center", method: :get do |f| %>
    <%= f.text_field :query, params: :query, class: "form-control search-db", placeholder: "Rechercher un mot-clé..." %>
    <%= f.submit 'Go', class: "btn-orange-right" %>
<% end %>
<form class="d-flex justify-content-center mt-1" method="get" action=<%= hospitals_path %> data-remote="true">
  <input class="btn-orange-ext" type="submit" value="Database complète">
</form>
<% if @hospitals.length > 0 %>
  <div class="d-flex flex-wrap mt-2 justify-content-center">
    <% @hospitals.each do |hospital| %>
      <%= render 'element' %>
    <% end %>
  </div>
<% else %>
  <div class="container-db-vide">
    Votre recherche n'a retourné aucun résultat
  </div>
<% end %>
