<% @database_page.each do |direcct| %>
  <div class="card-bdd">
    <div class="front">
      <div class="card-bdd-container">
        <div class="text-center"><%= direcct.address %></div>
      </div>
    </div>
    <div class="back">
      <div class="card-bdd-container">
        <div class="line"><i class="fas fa-fax"></i><%= direcct.fax %></div>
        <div class="line"><i class="fas fa-phone-alt"></i><%= direcct.phone %></div>
        <div class="line"><i class="fas fa-laptop-code"></i><%= direcct.website.present? ? direcct.website : 'site web non-renseigné' %></div>
        <div class="card-db-action">
          <%= link_to edit_direcct_path(direcct), class: "card-db-edit", target: '_blank' do %>
            <i class='fas fa-pencil-alt'></i>
          <% end %>
          <%= link_to "x", destroy_direcct_path(direcct), class: "card-db-delete", method: :post, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet élément ?"} %>
        </div>
      </div>
    </div>
  </div>
<% end %>