<% @database_page.each do |worker| %>
  <div class="card-bdd">
    <div class="front">
      <div class="card-bdd-container">
        <div class="text-center"><%= "#{worker.first_name} #{worker.last_name}" %></div>
        <div class="text-center"><%= worker.lifesaver ? '<i class="fas fa-check text-success"></i>'.html_safe : '<i class="fas fa-times text-danger"></i>'.html_safe%> Sauveteur</div>
        <div class="text-center"><%= worker.conductor ? '<i class="fas fa-check text-success"></i>'.html_safe : '<i class="fas fa-times text-danger"></i>'.html_safe%> Conduteur</div>
      </div>
    </div>
    <div class="back">
      <div class="card-bdd-container">
        <div class="card-db-action">
          <%= link_to edit_worker_path(worker), class: "card-db-edit", target: '_blank' do %>
            <i class='fas fa-pencil-alt'></i>
          <% end %>
          <%= link_to "x", destroy_worker_path(worker), class: "card-db-delete", method: :post, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet élément ?"} %>
        </div>
      </div>
    </div>
  </div>
<% end %>