<% @database_page.each do |moe| %>
  <div class="card-bdd">
    <div class="flip-container">
      <div class="front">
        <div class="content-bdd">
          <div class="text-center"><%= moe.name %></div>
          <div class="line"><i class="fas fa-user logo-bdd"></i><%= moe.representative %></div>
        </div>
      </div>
      <div class="back">
        <div class="content-bdd">
          <div class="line">
            <i class="fas fa-map-marker-alt logo-bdd"></i>
            <div class="line-text">
              <%= moe.address %>
            </div>
          </div>
          <div class="line">
            <i class="fas fa-phone-alt logo-bdd"></i>
            <div class="line-text">
              <%= moe.phone %>
            </div>
          </div>
          <div class="line">
            <i class="fas fa-envelope logo-bdd"></i>
            <div class='line-text'><%= moe.email %></div>
          </div>
          <div class="card-db-action">
            <%= link_to edit_mo_path(moe), class: "card-db-edit" do %>
              <i class='fas fa-pencil-alt'></i>
            <% end %>
            <%= link_to "x", destroy_mo_path(moe), class: "card-db-delete", method: :post, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet élément ?"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render 'shared/flashes' %>